{
  "presets": [["env", { "targets": { "node": "6.12" } }]],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "add-module-exports"
  ],
  "env": {
    "test": {
      "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
    }
  }
}
