{
  "include": [
    "src"
  ],
  "require": [
    "babel-register"
  ],
  "reporter": [
    "text",
    "lcov"
  ],
  "cache": false,
  "all": true,
  "sourceMap": false,
  "instrument": false,
  "check-coverage": true,
  "lines": 95
}
