@use 'sass:color';

.alert-for-marp-consumers {
  background: var(--notice-important-background);
  border: 3px double var(--notice-important-border-color);
  margin: 0 0 2rem;
  overflow: hidden;
  padding: 0 1.5rem;
}

.alert-for-marp-consumers-content {
  grid-area: contents;
}

.alert-for-marp-consumers-close-container {
  float: right;
  width: 3rem;
  height: 3rem;
  padding: 0 0 1rem 1rem;
  overflow: hidden;
}

.alert-for-marp-consumers-close {
  background: transparent;
  border: 0;
  width: 2rem;
  height: 2rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 0.8;
  }

  &:hover:active {
    opacity: 0.5;
  }
}

.alert-for-marp-consumers-close-img {
  width: 2rem;
  height: 2rem;
}

.alert-for-marp-consumers-button-container {
  text-align: right;
  margin-bottom: 1rem;
}

.alert-for-marp-consumers-button {
  background: var(--notice-important-border-color);
  border-radius: 0.25rem;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 2rem;

  &:active {
    background: color.mix($important-color, #000, 80%);
  }
}
