version: 2.1

executors:
  node:
    parameters:
      version:
        type: string
        default: lts
    docker:
      - image: circleci/node:<< parameters.version >>
    working_directory: ~/marpit

commands:
  install:
    parameters:
      postinstall:
        type: steps
        default: []
      yarn:
        type: string
        default: '^1.22.5'
    steps:
      - run:
          name: Upgrade yarn for current user
          command: cd ~ && yarn policies set-version << parameters.yarn >>

      - restore_cache:
          keys:
            - v2.3-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-{{ .Branch }}
            - v2.3-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-
            - v2.3-dependencies-{{ .Environment.CIRCLE_JOB }}-

      - run: yarn install
      - steps: << parameters.postinstall >>

      - save_cache:
          key: v2.3-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-{{ .Branch }}
          paths:
            - ~/.cache/yarn

  audit:
    steps:
      - checkout
      - install:
          postinstall:
            - run: yarn audit

  test:
    steps:
      - run: node --version

      - checkout
      - install

      - run:
          name: Prettier formatting
          command: yarn check:format

      - run:
          name: ESLint
          command: yarn lint:js

      - run:
          name: stylelint
          command: yarn lint:css

      - run:
          name: Jest
          command: yarn test:coverage --ci --maxWorkers=2 --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: tmp/test-results

      - run: yarn codecov

      - store_test_results:
          path: tmp/test-results

      - store_artifacts:
          path: ./coverage
          destination: coverage

jobs:
  audit:
    executor: node
    steps:
      - audit

  test-node10:
    executor:
      name: node
      version: '10'
    steps:
      - test

  test-node12:
    executor:
      name: node
      version: '12'
    steps:
      - test

  test-node14:
    executor:
      name: node
      version: '14.15.1' # Specify LTS version for development
    steps:
      - test

workflows:
  test:
    jobs:
      - audit
      - test-node10:
          requires:
            - audit
      - test-node12:
          requires:
            - audit
      - test-node14:
          requires:
            - audit
