references:
  base: &base
    working_directory: ~/marp-core
    steps:
      # https://github.com/nodejs/docker-node/blob/master/docs/BestPractices.md#upgradingdowngrading-yarn
      - run:
          name: Upgrade yarn
          command: |
            sudo -E sh -c 'curl -fSLO --compressed "https://yarnpkg.com/downloads/$YARN_VERSION/yarn-v$YARN_VERSION.tar.gz" \
                           && tar -xzf yarn-v$YARN_VERSION.tar.gz -C /opt/ \
                           && ln -snf /opt/yarn-v$YARN_VERSION/bin/yarn /usr/local/bin/yarn \
                           && ln -snf /opt/yarn-v$YARN_VERSION/bin/yarnpkg /usr/local/bin/yarnpkg \
                           && rm yarn-v$YARN_VERSION.tar.gz'
          environment:
            YARN_VERSION: 1.13.0

      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-{{ .Branch }}
            - v1-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-
            - v1-dependencies-{{ .Environment.CIRCLE_JOB }}-

      - run: yarn install
      - run: yarn audit

      - save_cache:
          key: v1-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-{{ .Branch }}
          paths:
            - node_modules
            - ~/.cache/yarn

      - run:
          name: Prettier formatting
          command: yarn format:check

      - run:
          name: ESLint
          command: yarn lint:js

      - run:
          name: stylelint
          command: yarn lint:css

      - run:
          name: Jest
          command: yarn test:coverage --ci --maxWorkers=2 --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: tmp/test-results/jest.xml

      - run: yarn codecov

      - store_test_results:
          path: tmp/test-results

      - store_artifacts:
          path: ./coverage
          destination: coverage

version: 2
jobs:
  '10.15.0':
    <<: *base
    docker:
      - image: circleci/node:10.15.0

  '8.15.0':
    <<: *base
    docker:
      - image: circleci/node:8.15.0

  '6.16.0':
    <<: *base
    docker:
      - image: circleci/node:6.16.0

  least-version:
    <<: *base
    docker:
      - image: circleci/node:6.14.4

workflows:
  version: 2
  build:
    jobs:
      - 10.15.0
      - 8.15.0
      - 6.16.0
      - least-version
