references:
  base: &base
    working_directory: ~/marp-core
    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-{{ .Branch }}
            - v1-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-
            - v1-dependencies-{{ .Environment.CIRCLE_JOB }}-

      - run: yarn install

      - save_cache:
          key: v1-dependencies-{{ .Environment.CIRCLE_JOB }}-{{ checksum "yarn.lock" }}-{{ .Branch }}
          paths:
            - node_modules
            - ~/.cache/yarn

      - run:
          name: Prettier formatting
          command: yarn format:check

      - run: yarn lint:all

      - run:
          name: Jest
          command: yarn test:coverage --ci --maxWorkers=2 --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT: tmp/test-results/jest.xml

      - run: yarn codecov

      - store_test_results:
          path: tmp/test-results

      - store_artifacts:
          path: ./coverage
          destination: coverage

version: 2
jobs:
  '10.12.0':
    <<: *base
    docker:
      - image: circleci/node:10.12.0

  '8.12.0':
    <<: *base
    docker:
      - image: circleci/node:8.12.0

  '6.14.2':
    <<: *base
    docker:
      - image: circleci/node:6.14.2

workflows:
  version: 2
  build:
    jobs:
      - 10.12.0
      - 8.12.0
      - 6.14.2
